body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    font-size: 18px;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
}
.header{
display: flex;
flex-direction: column;

}
.header_top{
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    gap: 5px;
    padding-bottom: 80px;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.header_top ul{
    display: flex;
    gap: 16px;
}
.header_top h1{
    display: flex;
    margin: 0;
    margin-right: auto;
    width: 150px;
    height: 50px;
    font-size: 24px;
    color: #f9faf8;
}

.header_main_text h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.header_top ul, .header_main_text p{
    color: #e5e7eb;}
.header_main_text button, .body_bottom_button button{
    color: #f9faf8;
    font-size: 20px;
    font-weight: 600;
    border-color: #3882f6;
    border-radius: 15px;
    padding: 10px 30px;
    background-color: #3882f6;
    text-align: center;
}
.header_main{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
.header_image , .header_main_text { 
    width: 475px;
    height: 315px;
}
.header_image{
    margin-left: auto;
} 
.header_image img{
    width: 100%;
    height: 100%;
}
.body_top, .header, .body_bottom_wrapper{
    padding: 16px 108px 80px;
}
.body_container,.body_top, .body_quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.body_top{
    gap: 20px;
    padding: 16px 0px 50px;
}
.body_top_header h1, .body_qoute_bottom {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.body_top_images ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px
}

.body_top_images ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 250px;
}
.body_top_images ul li img{
    width: 175px;
    height: 175px;
}
.body_quote_main {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}
.body_quote{
    background-color: #e5e7eb;  
}
.body_bottom_wrapper, .body_quote{
    padding: 80px 0px 80px
}
.body_qoute_bottom{
    font-size: 24px;
    display: flex;
    align-self: flex-end;
}
.body_quote_main p, .body_qoute_bottom p{
    margin: 0;
}
.body_qoute_container{
    display: flex;
    width: 875px;
    flex-direction: column;
}
.body_bottom_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body_bottom{
display: flex;
justify-content: center;
align-items: center;
width: 900px;
background-color: #3882f6;
padding: 50px 150px;
border-radius: 15px;
}
.body_bottom_text p, .body_bottom_text h1, .footer p{
    color: #e5e7eb;;
    margin: 0;
    padding: 0;
}
.body_bottom_text {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.body_bottom_text h1{
    color: #f9faf8;
    font-size: 24px;
}
.body_bottom_button button{
    border-color: #f9faf8;
}
.body_bottom_button{
    display: flex;
    align-self: flex-end;
}
.footer, .header{
    width: 100%;
    background-color: #1f2937;
}
.footer{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
